/*Layout*/
.container {
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  position: absolute;
  /* position: fixed; */
  top: 0;
  left: 0;
  padding: 0 100px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
  height: 100px;
}

.center-wrapper {
  width: 100%;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
}

.center-wrapper .title {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #000;
  font-size: 54px;
  text-align: center;
}

p {
  font-size: 18px;
}
header .logo {
  float: left;
  color: black;
  font-size: 2.5rem;
  font-weight: 60;
  text-align: center;
  border: 2px solid black;
  line-height: 42px;
  height: 42px;
  display: block;
  width: 160px;
  margin: 30px;
}
header nav {
  float: right;
  margin-top: 37px;
  margin-left: 40px;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
  /* display: inline-block;
   padding: 20px; */
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: black;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  list-style: none;
}

header .tools {
  float: right;
  margin-top: 37px;
  margin-left: 40px;
}

header .tools li {
  float: left;
  margin-right: 10px;
  list-style: none;
  transition: box-shadow 1s ease-out;
}

header .tools .responsive img {
  display: block;
  width: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 24px 24px;
  font-size: 0;
  height: 26px;
  list-style: none;
}

header .tools li:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
}
.menu-toggle {
  color: rgba(0, 0, 0, 1);
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.hero {
  background: url(../img3/zebra1.jpg) center center no-repeat;
  height: 100vh;
  background-size: cover;
  text-align: center;
}
.banner {
  height: 15vh;
}

.hero .center-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 700px;
  position: relative;
  top: 50%;
  color: black;
}

.hero .heading {
  margin-bottom: 40px;
  padding: 10px;
}

.features-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 30px;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
}

.features-wrapper .features-item {
  width: 30%;
  text-align: center;
}

.features-wrapper .features-item .image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.features-wrapper .features-item .image .responsive {
  width: 100%;
  margin: 20px 0;
}

.features-wrapper .features-item .title {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.features-wrapper .features-item .description {
  margin: 0 0 5px;
  line-height: 1.5rem;
  height: 160px;
  width: 390px;
}

/*buttony*/

.btn {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 50px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #000;
  cursor: pointer;
}

.btn.btn-black {
  color: maroon;
  border-color: maroon;
}

.btn-cube-hover .btn {
  display: block;
}

.btn-cube-hover {
  display: inline-block;
  height: 44px;
  transition: all 300ms ease;
  transform-style: preserve-3d;
  text-decoration: none;
  margin: 15px;
}

.btn-cube-hover:hover {
  transform: rotateX(89deg);
  text-decoration: none;
}

.btn-cube-hover .default {
  transform: translateZ(21px);
}

.btn-cube-hover .hover {
  transform: rotateX(-90deg) translateZ(-21px);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex: wrap;
  width: 100%;
}

.about .text_foto {
  margin-left: 80px;
  margin-right: 80px;
}
.about .text_foto .image-box {
  width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about .text_foto .text {
  width: 45%;
  padding: 10px;
  margin: 10px;
}

footer {
  clear: both;
  color: #fff;
  background: #121212;
  padding: 15px 0 15px 30px;
  margin: 50px 0 0 0;
}

/* @media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
    margin-top: 30px;
  }
  header nav {
    /* display: none; */
/* position: absolute;
    width: 100%;
    height: calc(72vh - 50vh);
    background: #333;
    top: 94px;
    left: -100%;
    transition: 0.5s;
    margin-top: 0;
    margin-left: 0; */

/* header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  } 
 }  */

@media (max-width: 1380px) and (min-width: 1100px) {
  header {
    padding: 0 30px;
  }
  header nav {
    float: none;
    margin-bottom: 7px;
    margin-left: 40px;
  }

  header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  header nav ul li {
    list-style: none;
    /* display: inline-block;
       padding: 20px; */
  }
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: black;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    list-style: none;
  }
  .features-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 30px;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
  }

  .features-wrapper .features-item {
    width: 30%;
    text-align: center;
  }

  .features-wrapper .features-item .image {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }

  .features-wrapper .features-item .image .responsive {
    width: 90%;
    margin: 20px 0;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .container {
    margin: 0 auto;
  }

  header {
    padding: 0 20px;
  }

  header .tools {
    float: right;
    margin-top: 37px;
    margin-left: 10px;
  }

  header .logo {
    font-size: 1.4rem;
    text-align: center;
    line-height: 42px;
    height: 52px;
    width: 130px;
    margin: 30px;

    justify-content: center;
  }

  .menu-toggle {
    display: block;
    float: left;
    margin-top: 35px;
  }

  header nav {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: calc(72vh - 50vh);
    background: #333;
    top: 94px;
    left: -100%;
    transition: 0.5s;
    margin-top: 0;
    margin-left: 0;
  }

  header nav.active {
    left: 0;
    height: 180px;
  }
  header nav ul {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  header nav ul li a {
    height: 40px;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .center-wrapper {
    min-width: 280px;
    margin: 0 auto;
    padding: 0;
  }
  .center-wrapper nav ul {
    position: relative;
    bottom: 100px;
    right: 40px;
  }

  h1 {
    font-size: 34px;
    margin: 5px;
  }

  .features-wrapper .features-item .image {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }

  .features-wrapper .features-item .image .responsive {
    width: 100%;
    margin: 20px 0;
    height: 280px;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .container {
    margin: 0 auto;
  }

  header {
    padding: 0 20px;
  }

  header .tools {
    float: right;
    margin-top: 37px;
    margin-left: 10px;
  }

  header .logo {
    font-size: 1.4rem;
    text-align: center;
    line-height: 42px;
    height: 52px;
    width: 130px;
    margin: 30px;

    justify-content: center;
  }

  .menu-toggle {
    display: block;
    float: left;
    margin-top: 35px;
  }

  header nav {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: calc(72vh - 50vh);
    background: #333;
    top: 94px;
    left: -100%;
    transition: 0.5s;
    margin-top: 0;
    margin-left: 0;
  }

  header nav.active {
    left: 0;
    height: 220px;
  }
  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    height: 40px;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .center-wrapper {
    min-width: 280px;
    margin: 0 auto;
    padding: 0;
  }
  .center-wrapper nav ul {
    position: relative;
    bottom: 40px;
    right: 40px;
  }

  h1 {
    font-size: 34px;
    margin: 5px;
  }
  .center-wrapper .title {
    margin: 0 auto;
    padding: 20px;
  }
  .center-wrapper .title p {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .features-wrapper .features-item .image {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }

  .features-wrapper .features-item .image .responsive {
    width: 100%;
    margin: 20px 0;
    height: 280px;
  }

  .center-wrapper .features-wrapper .features-item h2 {
    font-size: 25px;
    position: relative;
  }
  .center-wrapper .features-wrapper .features-item p {
    font-size: 16px;
    width: 280px;
    line-height: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .features-wrapper .features-item .description {
    line-height: 1.9rem;
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 10px;
  }
  .about {
    margin: 0 auto;
    justify-content: center;
  }
  .about .text_foto .image-box {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .text_foto .image-box img {
    width: 100%;
    padding-top: 10.25%;
    display: block;
  }
  .about .text_foto .image-box .responsive2 {
    position: relative;
    bottom: 400px;
    min-width: 280px;
  }

  .about .text_foto .image-box .text {
    min-width: 230px;
    position: relative;
    width: 600px;
  }

  .about .text_foto .image-box .text .text2 h3 {
    position: relative;
    top: 370px;
  }
  .about .text_foto .image-box .text .text2 p {
    min-width: 280px;
    position: relative;
    top: 380px;
    margin-bottom: 30px;
    font-size: 16px;
    right: 30px;
  }

  .about .text_foto .image-box .text p {
    min-width: 280px;
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    right: 30px;
  }

  .btn {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #000;
    cursor: pointer;
  }
  .btn-cube-hover {
    display: inline-block;
    height: 24px;
    transition: all 300ms ease;
    transform-style: preserve-3d;
    text-decoration: none;
    margin: 15px;
  }
  .hero {
    margin: 0 auto;
  }
  .hero .center-wrapper {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    font-size: 10px;
    padding: 0;
  }

  .hero .center-wrapper a {
    position: relative;
    bottom: 25px;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  .container {
    margin: 0 auto;
    min-width: 280px;
  }
  html {
    margin: 0 auto;
  }

  header {
    padding: 0 20px;
  }
  header .logo {
    font-size: 1.2rem;
    text-align: center;
    line-height: 42px;
    height: 32px;
    width: 90px;
    margin: 30px;
    margin-left: 50px;
  }

  .menu-toggle {
    display: block;
    float: left;
    margin-top: 25px;
  }
  header nav {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: calc(72vh - 50vh);
    background: #333;
    top: 94px;
    left: -100%;
    transition: 0.5s;
    margin-top: 0;
    margin-left: 0;
  }

  header nav.active {
    left: 0;
    height: 180px;
  }
  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    height: 40px;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .center-wrapper {
    min-width: 280px;
    margin: 0 auto;
    padding: 0;
  }
  .center-wrapper nav ul {
    position: relative;
    bottom: 100px;
    right: 40px;
  }

  h1 {
    font-size: 34px;
    margin: 5px;
  }
  .center-wrapper .title {
    margin: 0 auto;
    padding: 10px;
  }
  .center-wrapper .title p {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .features-wrapper .features-item .image {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }

  .features-wrapper .features-item .image .responsive {
    width: 100%;
    margin: 20px 0;
    height: 280px;
  }

  .center-wrapper .features-wrapper .features-item h2 {
    font-size: 20px;
    position: relative;
  }
  .center-wrapper .features-wrapper .features-item p {
    font-size: 16px;
    width: 220px;
    line-height: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .features-wrapper .features-item .description {
    line-height: 1.9rem;
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 10px;
  }
  .about {
    margin: 0 auto;
    justify-content: center;
  }
  .about .text_foto .image-box {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .text_foto .image-box img {
    width: 100%;
    padding-top: 10.25%;
    display: block;
  }
  .about .text_foto .image-box .responsive2 {
    position: relative;
    bottom: 320px;
    min-width: 280px;
  }

  .about .text_foto .image-box .text {
    min-width: 230px;
    position: relative;
    width: 500px;
  }

  .about .text_foto .image-box .text .text2 h3 {
    position: relative;
    top: 370px;
  }
  .about .text_foto .image-box .text .text2 p {
    min-width: 280px;
    position: relative;
    top: 380px;
    margin-bottom: 30px;
    font-size: 16px;
    right: 30px;
  }

  .about .text_foto .image-box .text p {
    min-width: 280px;
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    right: 30px;
  }

  .btn {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #000;
    cursor: pointer;
  }
  .btn-cube-hover {
    display: inline-block;
    height: 24px;
    transition: all 300ms ease;
    transform-style: preserve-3d;
    text-decoration: none;
    margin: 15px;
  }
  .hero {
    margin: 0 auto;
  }
  .hero .center-wrapper {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    font-size: 10px;
    padding: 0;
  }

  .hero .center-wrapper a {
    position: relative;
    bottom: 25px;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 0 auto;
    min-width: 280px;
  }
  html {
    margin: 0 auto;
  }

  header {
    padding: 0 20px;
  }
  header .logo {
    font-size: 1.2rem;
    text-align: center;
    line-height: 42px;
    height: 32px;
    width: 90px;
    margin: 30px;
    margin-left: 50px;
  }

  .menu-toggle {
    display: block;
    float: left;
    margin-top: -75px;
  }

  header nav {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: calc(72vh - 50vh);
    background: #333;
    top: 94px;
    left: -100%;
    transition: 0.5s;
    margin-top: 0;
    margin-left: 0;
  }

  header nav.active {
    left: 0;
    height: 180px;
  }
  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    height: 40px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
  .center-wrapper {
    min-width: 280px;
    margin: 0 auto;
    padding: 0;
  }
  .center-wrapper ul {
    position: relative;
    bottom: 100px;
    right: 40px;
  }

  h1 {
    font-size: 34px;
    margin: 5px;
  }

  header .tools {
    float: left;
    margin-top: -60px;
    position: relative;
    left: 140px;
  }
  .center-wrapper .title p {
    font-size: 16px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .center-wrapper .title {
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 300px;
  }

  .center-wrapper .features-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 0;
    height: 800px;
  }
  .center-wrapper .features-wrapper .features-item {
    width: 70%;
    text-align: center;
    flex-direction: column;
    margin: 5px auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features-wrapper .features-item .image {
    width: 100%;
    max-width: 450px;
    margin: 20px auto;
    width: 280px;
    height: 5px;
    margin-top: 20px;
  }

  /* .features-wrapper .features-item .image .responsive {
    width: 100%;
    margin: 20px 0;
  } */

  .features-wrapper .features-item .image .responsive {
    margin: 30px auto;
    height: 200px;
    justify-content: center;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .center-wrapper .features-wrapper .features-item h2 {
    font-size: 18px;
    position: relative;
  }
  .center-wrapper .features-wrapper .features-item p {
    font-size: 16px;
    width: 280px;
    line-height: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .features-wrapper .features-item .description {
    line-height: 1.9rem;
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 10px;
  }
  .about {
    margin: 0 auto;
    justify-content: center;
  }
  .about .text_foto .image-box {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .text_foto .image-box img {
    width: 320px;
    height: 280px;
    padding-top: 10.25%;
    display: block;
  }
  .about .text_foto .image-box .responsive2 {
    position: relative;
    bottom: 400px;
    min-width: 280px;
  }

  .about .text_foto .image-box .text {
    min-width: 230px;
    margin: 0 auto;
  }

  .about .text_foto .image-box .text .text2 h3 {
    position: relative;
    top: 300px;
  }
  .about .text_foto .image-box .text .text2 p {
    min-width: 280px;
    position: relative;
    top: 300px;
    margin-bottom: 30px;
    font-size: 16px;
    right: 30px;
  }

  .about .text_foto .image-box .text p {
    min-width: 280px;
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    right: 30px;
  }

  .btn {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #000;
    cursor: pointer;
  }
  .btn-cube-hover {
    display: inline-block;
    height: 24px;
    transition: all 300ms ease;
    transform-style: preserve-3d;
    text-decoration: none;
    margin: 15px;
  }
  .hero {
    margin: 0 auto;
  }
  .hero .center-wrapper {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    font-size: 10px;
    padding: 0;
  }

  .hero .center-wrapper a {
    position: relative;
    bottom: 25px;
  }
}
