$kolorbazowy: black;
h2 {
  color: $kolorbazowy;
  text-decoration: none;
}

p {
  border: 1px solid $kolorbazowy;
}

div {
  color: $kolorbazowy;
}

.header {
  p {
    color: $kolorbazowy;
  }
  strong {
    color: $kolorbazowy;
  }
}
